<div class="col-xl-9 left">
  <h1>Our Top Picks For Whey Supplement</h1>
  <div id="sort">
    <label for="sort">SORT BY:</label>
    <div id="selectContainer">
      <%= select_tag 'sort', options_for_select(['RANK'], 'RANK') %>
      <div class="arrow-down"></div>
    </div>
  </div>
  <table>
    <tbody>
      <% i = 1 %>
      <% while i < 5 do %>
      <tr>
        <th><%= i %></th>
        <td>
          <%= image_tag 'logo_header.png' %>
          <span>MusclePharm Combat 100% Whey</span>
        </td>
        <td>
          <%= image_tag 'logo_header.png' %>
          <p>MUSCLE PHARM</p>
        </td>
        <td>
          <%= image_tag 'star.png' %>
          <span class="number">9.9<span class="grey">/10</span></span>
          <p>19 Reviews</p>
        </td>
      </tr>
      <% i += 1 %>
      <% end %>
    </tbody>
  </table>
</div>
