<table id="mainTable">
  <tbody>
    <% @products.each_with_index do |product, index| %>
    <tr onclick="javascript:location.href='<%= product_path("#{product.id}") %>'">
      <th><%= index + 1 %></th>
      <td>
        <div class="product-image">
          <%= image_tag product.image %>
        </div>
        <span class="title">
          <%= product.title %><br>
          <% if !product.points.blank? %>
            <div class="points">
              <%= product.points.html_safe %>
            </div>
          <% end %>
        </span>
      </td>
      <td>
        <%= image_tag product.brand_image %>
        <p><%= product.brand.upcase %></p>
      </td>
      <td>
        <%= image_tag 'star.png' %>
        <span class="number"><%= product.rating.to_f.round %><span class="grey">/5</span></span>
        <p><%= @reviews.where(product: product.id).count %> Reviews</p>
        <% if product.view_now_link.present? %>
          <% link = product.view_now_link %>
        <% else %>
          <% links = @links.where(product: product.id) %>
          <% link = links.present? ? links.first.url : product_path(product.id) %>
        <% end %>
        <%= link_to 'View Now', link, class: 'view-now' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
