<script type="text/javascript" src="http://js.omxcontent.com/dl.min.js"></script>
<% if @product.mac && @product.windows %>
  <% if @os == 'mac' %>
    <% alternative = 'Windows' %>
    <% download_link = @download_link_mac %>
    <% alternative_link = @download_link_windows %>
  <% else %>
    <% alternative = 'Mac' %>
    <% download_link = @download_link_windows %>
    <% alternative_link = @download_link_mac %>
  <% end %>
  <%= link_to "DOWNLOAD FOR #{@os.upcase}", download_link, class: 'download-link', target: '_blank' %>
  <% if action_name == 'lp' %>
    <div class="compatibility">
      <span>Compatible with:</span>
      <%= link_to download_link, target: '_blank' do %>
        <i class="fa fa-apple"></i>
      <% end %>
      <%= link_to alternative_link, target: '_blank' do %>
        <i class="fa fa-windows"></i>
      <% end %>
    </div>
  <% else %>
    <p class="AlsoAvailable">Also available on <%= link_to alternative, alternative_link, class: 'AlsoAvailable__link' %></p>
  <% end %>
<% elsif @product.mac %>
  <%= link_to 'DOWNLOAD FOR MAC', @download_link_mac, class: 'download-link', target: '_blank' %>
<% else %>
  <%= link_to 'DOWNLOAD FOR WINDOWS', @download_link_windows, class: 'download-link', target: '_blank' %>
<% end %>
