<span class="download-link" onclick="convert('<%= @download_link %>')">
  <%= @cta_text %>
</span>

<script>
  function convert(url) {
    // download the file
    window.location = url;

    // gstats download event trigger on every download
    $.ajax({
      url: '/gs_event',
      data: {
        product: "<%= @product.title %>"
      }
    });


    // old conversion actions
    // var sendTo = ((downloadType == 'offer') ? 'AW-777281614/0hDhCMzw6pABEM7A0fIC' : 'AW-777281614/UXccCPz26pABEM7A0fIC');

  // new actions
  // Download Offer 2
  // gtag('event', 'conversion', {'send_to': 'AW-777281614/tHAhCL6nkpUBEM7A0fIC'});

  // Download Software 2
  // gtag('event', 'conversion', {'send_to': 'AW-777281614/Il3nCKOWjJUBEM7A0fIC'});


    <% if @os == 'mac' %>
      // analytics tracking
      gtag('event', 'conversion', {
        'event_category': '<%= @download_type %> mac',
        'event_label': '<%= @product.title %>',
        'send_to': 'UA-16407288-57'
      });

      // adwords conversion os matched
      <% if @download_type == 'offer' %>
        gtag('event', 'conversion', {'send_to': 'AW-777281614/tHAhCL6nkpUBEM7A0fIC'});
      <% elsif @download_type == 'software' %>
        gtag('event', 'conversion', {'send_to': 'AW-777281614/Il3nCKOWjJUBEM7A0fIC'});
      <% end %>

    <% else %>
    // analytics tracking
      gtag('event', 'conversion', {
        'event_category': '<%= @download_type %> not_mac',
        'event_label': '<%= @product.title %>',
        'send_to': 'UA-16407288-57'
      });
      // no adwords conversion here os not matched

    <% end %>
  }

</script>
