<script type="text/javascript" src="https://js.omxcontent.com/dl.min.js"></script>
<% if @product.mac && @product.windows %>
  <% if @os == 'mac' %>
    <% alternative = 'Windows' %>
    <% download_link = @download_link_mac %>
    <% alternative_link = @download_link_windows %>
  <% else %>
    <% alternative = 'Mac' %>
    <% download_link = @download_link_windows %>
    <% alternative_link = @download_link_mac %>
  <% end %>
  <span class="download-link" onclick="gtag_report_conversion('<%= download_link %>', '<%= @download_type %>')">
    DOWNLOAD FOR <%= @os.upcase %>
  </span>
  <% if action_name == 'lp' %>
    <div class="compatibility">
      <span>Compatible with:</span>
      <span class="os-symbol" onclick="gtag_report_conversion('<%= download_link %>', '<%= @download_type %>')">
        <i class="fa fa-apple"></i>
      </span>
      <span class="os-symbol" onclick="gtag_report_conversion('<%= alternative_link %>', '<%= @download_type %>')">
        <i class="fa fa-windows"></i>
      </span>
    </div>
  <% else %>
    <p class="AlsoAvailable">Also available on <span class="AlsoAvailable__link" onclick="gtag_report_conversion('<%= alternative_link %>', '<%= @download_type %>')"><%= alternative %></span></p>
  <% end %>
<% elsif @product.mac %>
  <span class="download-link" onclick="gtag_report_conversion('<%= @download_link_mac %>', '<%= @download_type %>')">
    DOWNLOAD FOR MAC
  </span>
<% else %>
  <span class="download-link" onclick="gtag_report_conversion('<%= @download_link_windows %>', '<%= @download_type %>')">
    DOWNLOAD FOR WINDOWS
  </span>
<% end %>
