<% if @product.mac && @product.windows %>
  <% if @os == 'mac' %>
    <span class="download-link" onclick="convert('<%= @download_link_mac %>', '<%= @download_type %>')">
      DOWNLOAD FOR MAC
    </span>
  <% else %>
    <span class="download-link" onclick="convert('<%= @download_link_windows %>', '<%= @download_type %>')">
      DOWNLOAD FOR WINDOWS
    </span>
  <% end %>
<% elsif @product.mac %>
  <span class="download-link" onclick="convert('<%= @download_link_mac %>', '<%= @download_type %>')">
    DOWNLOAD FOR MAC
  </span>
<% else %>
  <span class="download-link" onclick="convert('<%= @download_link_windows %>', '<%= @download_type %>')">
    DOWNLOAD FOR WINDOWS
  </span>
<% end %>

<script>
  function convert(url, downloadType) {
    // download the file
    window.location = url;

    // gstats download event trigger on every download
    $.ajax({
      url: '/gs_event',
      data: {
        product: "<%= @product.title %>"
      }
    });

    var sendTo = downloadType == 'offer' ? 'AW-777281614/0hDhCMzw6pABEM7A0fIC' : 'AW-777281614/UXccCPz26pABEM7A0fIC';

    <% if params[:os].present? %>

      <% if params[:os] == @os %>

        // analytics tracking
        gtag('event', 'conversion', {
          'event_category': '<%= @download_type %> os_matched',
          'event_label': '<%= @product.title %>',
          'send_to': 'UA-16407288-57'
        });

        // adwords conversion os matched
        gtag('event', 'conversion', {
            'send_to': sendTo
        });

      <% else %>
      // analytics tracking
        gtag('event', 'conversion', {
          'event_category': '<%= @download_type %> not_matched',
          'event_label': '<%= @product.title %>',
          'send_to': 'UA-16407288-57'
        });
        // no adwords conversion here os not matched
        // gtag('event', 'conversion', {
        //     'send_to': sendTo
        // });

      <% end %>

    <% else %>
      // analytics tracking
      gtag('event', 'conversion', {
        'event_category': '<%= @download_type %> os_null',
        'event_label': '<%= @product.title %>',
        'send_to': 'UA-16407288-57'
      });

      // adwords conversion os not in url
      gtag('event', 'conversion', {
          'send_to': sendTo
      });

    <% end %>

  }

</script>
