<% if @product.mac && @product.windows %>
  <% if @os == 'mac' %>
    <span class="download-link" onclick="convert('<%= @download_link_mac %>', '<%= @download_type %>')">
      DOWNLOAD FOR MAC
    </span>
  <% else %>
    <span class="download-link" onclick="convert('<%= @download_link_windows %>', '<%= @download_type %>')">
      DOWNLOAD FOR WINDOWS
    </span>
  <% end %>
<% elsif @product.mac %>
  <span class="download-link" onclick="convert('<%= @download_link_mac %>', '<%= @download_type %>')">
    DOWNLOAD FOR MAC
  </span>
<% else %>
  <span class="download-link" onclick="convert('<%= @download_link_windows %>', '<%= @download_type %>')">
    DOWNLOAD FOR WINDOWS
  </span>
<% end %>

<% if params[:b].present? %>
  <% if params[:b] == 'ie' %>
    <% params[:b] = 'internet explorer' %>
  <% elsif params[:b] == 'edge' %>
    <% params[:b] = 'microsoft edge' %>
  <% end %>
<% end %>

<script>
  var fired = false;
  function convert(url, downloadType) {
    <% if params[:utm_campaign].present? %>
      <% if params[:utm_campaign] == '1680422125' %>
        <% unless params[:b].present? && params[:b] != @browser.name.downcase %>
          sendConversion(downloadType);
        <% end %>
      <% end %>
    <% else %>
      sendConversion(downloadType);
    <% end %>
    window.location = url;
    if(!fired){
      fired = true;
      $.ajax({
        url: '/gs_event',
        data: {
          product: "<%= @product.title %>"
        }
      });
    }
  }

  function sendConversion(downloadType){
    var sendTo = downloadType == 'offer' ? 'AW-777281614/0hDhCMzw6pABEM7A0fIC' : 'AW-777281614/UXccCPz26pABEM7A0fIC';
    gtag('event', 'conversion', {
        'send_to': sendTo
    });
  }
</script>
