<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

<% adgroup_ids = field.data.pluck(:adgroup_id).uniq %>

<% adgroup_ids.each do |adgroup| %>
  <hr>
  <h1 style="text-align: center;">adgroup: <%= adgroup %></h1>
  <canvas id="<%= adgroup %>" width="400" height="100"></canvas>
  <% oqs = field.data.where(adgroup_id: adgroup).order(weighting: :desc) %>
  <script>
  var ctx = "<%= adgroup %>";

  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: <%= raw(oqs.pluck(:query)) %>,
      datasets: [{
        data: <%= oqs.pluck(:weighting) %>,
        backgroundColor: ["#11174b", "#152065", "#1c2c7f", "#24448e", "#2e5e9e", "#3577ae", "#3d91be", "#46aace", "#62bed2", "#8acdce", "#b3ddcc", "#dcecc9", "#fded86", "#f5b857", "#f0a04b", "#eb8a40", "#e67235", "#c74e29", "#9d4429", "#753c2c", "#4c3430"],
        borderWidth: 1
      }]
    },
    options: {
      rotation: 3,
    }
  });
  </script>
  <hr>
<% end %>