<section class="download-now">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="header"><%= t("#{@product.slug}.product.download_now_header") %></h1>
        <h2 class="sub-header"><%= t("#{@product.slug}.product.download_now_sub_header") %></h2>
        <p class="instruction">
          FREE DOWNLOAD BELOW
        </p>
        <div class="download-box">
          <%= image_tag "#{@product.slug}/logo.svg", class: 'product-logo' %>
          <h2><%= @product.title %></h2>
          <p class="description"><%= t("#{@product.slug}.product.download_now_sub_sub_header") %></p>
          <p class="for-what-os">
            <% if @product.windows && @product.mac %>
              For Windows and Mac.
            <% elsif @product.mac %>
              For Mac.
            <% else %>
              For Windows.
            <% end %>
          </p>
          <%= render 'product/cta' %>
        </div>
        <small>
          <strong>Please read carefully:</strong> By downloading <%= @product.title %>, I accept & agree to abide by the <%= link_to 'Terms', 'http://privacy.awoolo.com/terms', target: '_blank' %> &amp; <%= link_to 'Privacy Policy', 'http://privacy.awoolo.com/privacy', target: '_blank' %>.
        </small>
      </div>
    </div>
  </div>
</section>
