<section class="features">
  <div class="container">
    <% @features.each_with_index do |feature, index| %>
      <% if index.even? %>
        <div class="row feature-row">
          <div class="col-md-6 left">
            <div class="feature">
              <h1><%= feature.header %></h1>
              <div class="text">
                <%= feature.content.html_safe %>
              </div>
            </div>
          </div>
          <div class="col-md-6 right">
            <div class="image-container">
              <%= image_tag 'https://source.unsplash.com/random/542x385' %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row feature-row alt-row">
          <div class="col-md-6 left">
            <div class="image-container">
              <%= image_tag 'https://source.unsplash.com/random/542x385' %>
            </div>
          </div>
          <div class="col-md-6 right">
            <div class="feature">
              <h1><%= feature.header %></h1>
              <div class="text">
                <%= feature.content.html_safe %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
