<section id="download">
  <h1>Want it all? Get the bundle.</h1>
  <h2>With one click unlock all the apps you need in one simple download.</h2>
  <%= link_to 'DOWNLOAD BUNDLE', '' %>
  <hr>
  <ul class="categories">
    <li><%= image_tag 'tick.svg' %><span>PDF converter</span></li>
    <li><%= image_tag 'tick.svg' %><span>Word Processor</span></li>
    <li><%= image_tag 'tick.svg' %><span>Media Player</span></li>
    <li><%= image_tag 'tick.svg' %><span>Radio App</span></li>
    <li><%= image_tag 'tick.svg' %><span>Video File Converter</span></li>
    <li><%= image_tag 'tick.svg' %><span>Zipfile Opener</span></li>
  </ul>
</section>
