<section id="footerTop">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <nav>
          <ul>
            <li>
              <%= link_to 'HOME', root_path %>
            </li>
            <li>
              <%= link_to 'ABOUT', about_path %>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-4">
        <div class="image-container">
          <%= image_tag 'logo_footer.png' %>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          &copy; <%= Time.now.year %> WeRecommend, All Rights Reserved
        </p>
      </div>
      <div class="col-md-6">
        <nav>
          <ul>
            <li>
              <%= link_to 'Terms of Use', 'http://privacy.werecommend.co.nz/terms', target: '_blank' %>
            </li>
            <li>
              <%= link_to 'Privacy Policy', 'http://privacy.werecommend.co.nz/privacy', target: '_blank' %>
            </li>
            <li>
              <%= link_to 'Contact Us', 'http://privacy.werecommend.co.nz/contact-us', target: '_blank' %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
