<footer>
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 left">
          <ul>
            <li class="category">OFFICE SOLUTIONS</li>
            <% @office_solutions.each do |product| %>
              <li><%= link_to product.title, product_path(@os, product.slug) %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-4 center">
          <ul>
            <li class="category">MEDIA</li>
            <% @media.each do |product| %>
              <li><%= link_to product.title, product_path(@os, product.slug) %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-4 right">
          <ul>
            <li class="category">SUPPORT</li>
            <li><%= link_to 'FAQs', '' %></li>
            <li><%= link_to 'Download &amp; Install'.html_safe, downloads_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', 'http://privacy.awoolo.com/contact-us', target: '_blank' %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="copyright-and-links">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="logo-and-copyright">
            <%= image_tag 'footer_logo.svg', class: 'footer-logo' %>
            <span class="copyright">Copyright &copy; <%= Time.now.year %> Awoolo. All rights reserved.</span>
          </div>
        </div>
        <div class="col-sm-5">
          <ul>
            <li><%= link_to 'Privacy Policy', 'http://privacy.awoolo.com/privacy', target: '_blank' %></li>
            <li><span class="slash">/</span><%= link_to 'Terms of Use', 'http://privacy.awoolo.com/terms', target: '_blank' %></li>
            <li><span class="slash">/</span><%= link_to 'Cookies', 'http://privacy.awoolo.com/cookies', target: '_blank' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
