<footer>
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 left">
          <ul>
            <li class="category"><%= link_to 'OFFICE SOLUTIONS', '' %></li>
            <li><%= link_to 'Word Processor', '' %></li>
            <li><%= link_to 'PDF Converter', '' %></li>
            <li><%= link_to 'ZIP File Opener' %></li>
          </ul>
        </div>
        <div class="col-sm-4 center">
          <ul>
            <li class="category"><%= link_to 'MEDIA', '' %></li>
            <li><%= link_to 'Media Player', '' %></li>
            <li><%= link_to 'Radio App' %></li>
            <li><%= link_to 'Video File Converter' %></li>
          </ul>
        </div>
        <div class="col-sm-4 right">
          <ul>
            <li class="category"><%= link_to 'SUPPORT', '' %></li>
            <li><%= link_to 'FAQs', '' %></li>
            <li><%= link_to 'Download &amp; Install'.html_safe %></li>
            <li><%= link_to 'Contact', 'http://privacy.awoolo.com/contact-us' %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="copyright-and-links">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="logo-and-copyright">
            <%= image_tag 'footer_logo.svg', class: 'footer-logo' %>
            <span class="copyright">Copyright &copy; <%= Time.now.year %> Awoolo. All rights reserved.</span>
          </div>
        </div>
        <div class="col-sm-6">
          <ul>
            <li><%= link_to 'Privacy Policy', 'http://privacy.awoolo.com/privacy' %></li>
            <li><span class="slash">/</span><%= link_to 'Terms of Use', 'http://privacy.awoolo.com/terms' %></li>
            <li><span class="slash">/</span><%= link_to 'Cookies', 'http://privacy.awoolo.com/cookies' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
