<section id="mainContent">
  <div class="container">
    <div class="row">
      <%= render 'application/main_content/left' %>
      <div class="col-xl-4 right">
        <h2>Top Supplements</h2>
        <table id="sideTable">
          <tbody>
            <% i = 1 %>
            <% while i < 4 do %>
            <tr>
              <th><%= i %></th>
              <td>
                <div class="row">
                  <div class="col-4 left">
                    <%= image_tag 'logo_header.png' %>
                  </div>
                  <div class="col-8">
                    <h1>MusclePharm Combat 100% Whey</h1>
                    <p class="num-reviews">19 reviews</p>
                    <div class="row">
                      <div class="col-sm-6">
                        <%= image_tag 'favicon.png', class: 'brand' %>
                      </div>
                      <div class="col-sm-6">
                        <div class="review">
                          <%= image_tag 'star.png' %>
                          <span class="rating-container">9.9<span class="grey">/10</span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              </tr>
            <% i += 1 %>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
