<li class="nav-item dropdown">
  <a class="nav-link office" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    OFFICE SOLUTIONS
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% @office_solutions.each do |product| %>
      <%= link_to product_path(product.slug), class: 'dropdown-item' do %>
      <div class="main">
        <%= product.title.upcase %>
      </div>
      <div class="sub">
        <%= t("#{product.slug}.description") %>
      </div>
      <% end %>
    <% end %>
  </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link media" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      MEDIA
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% @media.each do |product| %>
        <%= link_to product_path(product.slug), class: 'dropdown-item' do %>
        <div class="main">
          <%= product.title.upcase %>
        </div>
        <div class="sub">
          <%= t("#{product.slug}.description") %>
        </div>
        <% end %>
      <% end %>
    </div>
</li>
<li class="nav-item dropdown">
      <a class="nav-link support" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        SUPPORT
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">
          <div class="main">
            FAQ
          </div>
        </a>
        <a class="dropdown-item" href="<%= downloads_path %>">
          <div class="main">
            DOWNLOAD & INSTALL
          </div>
        </a>
        <a class="dropdown-item" href='http://privacy.awoolo.com/contact-us' target="_blank">
          <div class="main">
            CONTACT
          </div>
        </a>
      </div>
</li>
