<section id="solutions">
  <div class="background">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <h4>WORD PROCESSOR</h4>
          <div class="image-container">
            <%= image_tag '' %>
          </div>
          <h2>It's an experience.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed velit mauris. Sed quis lectus ac magna lobortis accumsan. Fusce aliquam id ante non cursus. Integer eu pharetra sapien. Nullam enim nulla, tristique non rhoncus id, facilisis sed nisi. Donec hendrerit scelerisque mi in condimentum. Donec felis diam, imperdiet et justo ac, feugiat porttitor velit.</p>
          <%= link_to 'LEARN MORE', '' %>
        </div>
        <div class="col-sm-6 col-md-4">
          <h4>WORD PROCESSOR</h4>
          <div class="image-container">
            <%= image_tag '' %>
          </div>
          <h2>It's an experience.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed velit mauris. Sed quis lectus ac magna lobortis accumsan. Fusce aliquam id ante non cursus. Integer eu pharetra sapien. Nullam enim nulla, tristique non rhoncus id, facilisis sed nisi. Donec hendrerit scelerisque mi in condimentum. Donec felis diam, imperdiet et justo ac, feugiat porttitor velit.</p>
          <%= link_to 'Learn More', '' %>
        </div>
        <div class="col-sm-6 col-md-4 last">
          <h4>WORD PROCESSOR</h4>
          <div class="image-container">
            <%= image_tag '' %>
          </div>
          <h2>It's an experience.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed velit mauris. Sed quis lectus ac magna lobortis accumsan. Fusce aliquam id ante non cursus. Integer eu pharetra sapien. Nullam enim nulla, tristique non rhoncus id, facilisis sed nisi. Donec hendrerit scelerisque mi in condimentum. Donec felis diam, imperdiet et justo ac, feugiat porttitor velit.</p>
          <%= link_to 'Learn More', '' %>
        </div>
      </div>
    </div>
  </div>
</section>
