<%= render 'shared/header' do %>
  <a class="nav-item nav-link" href="<%= root_path %>">HOME <span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link active" href="<%= about_path %>">ABOUT</a>
<% end %>
<section id="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        About
      </div>
    </div>
  </div>
</section>
<section id="aboutContent">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <h1 class="main-header">100% Kiwi Recommendations</h1>
        <p>We Recommend is dedicated to offering reliable and helpful reviews of NZ protein powders. It can be difficult to know which protein is best for you so We Recommend aims to help you make more informed decisions to use these proteins to aid you in your fitness journey. We offer it to you in one convenient location, free of charge.</p>
        <p>All our reviews are written with no bias in the features covered. Also, as bigger and better products regularly enter our markets, we strive to keep our reviews current and relevant. As a result, top products and some reviews may change over time.</p>
        <%= form_for(@message, url: create_message_url, id: 'contactForm') do |f| %>
          <h1 class="main-header">Contact Us</h1>
          <label for="name">Name</label>
          <%= f.text_field :name, placeholder: 'Your name here', required: true %>
          <label for="email">Email</label>
          <%= f.email_field :email, placeholder: 'Your email here', required: true %>
          <label for="Message">Message</label>
          <%= f.text_area :body, placeholder: 'Please enter a detailed message here ...', required: true %>
          <%= f.submit 'SEND MESSAGE' %>
        <% end %>
      </div>
      <div class="col-xl-4 right">
        <div class="side-table">
          <%= render 'shared/side_table' %>
        </div>
        <div class="main-table-mobile">
          <%= render 'application/main_content/left' %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'application/footer' %>
