<section class="title-bar">
  <h1>AWOOLO FREE DOWNLOADS</h1>
</section>
<section class="free-downloads">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="section-header">Free Downloads.</h1>
        <div class="row">
          <% download_col = 'col-sm-6 col-md-6 col-lg-4' %>
          <% content_left_col = 'col-3' %>
          <% content_right_col = 'col-9' %>
          <div class="<%= download_col %> download">
            <div class="container">
              <div class="row">
                <div class="<%= content_left_col %> left">
                  <div class="square pdf-converter"></div>
                </div>
                <div class="<%= content_right_col %>">
                  <h1 class="title">PDF CONVERTER</h1>
                  <p class="subtitle">
                    Easily convert your documents to PDF format.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="<%= download_col %> download">
            <div class="container">
              <div class="row">
                <div class="<%= content_left_col %> left">
                  <div class="square media-player"></div>
                </div>
                <div class="<%= content_right_col %>">
                  <h1 class="title">MEDIA PLAYER</h1>
                  <p class="subtitle">
                    Free multiefiawovneiwav
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="<%= download_col %> download">
            <div class="container">
              <div class="row">
                <div class="<%= content_left_col %> left">
                  <div class="square video-file-converter"></div>
                </div>
                <div class="<%= content_right_col %>">
                  <h1 class="title">IDJFOAWEIGJIEOAF</h1>
                  <p class="subtitle">
                    fhjeiowajieajfoejfoei
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="<%= download_col %> download">
            <div class="container">
              <div class="row">
                <div class="<%= content_left_col %> left">
                  <div class="square word-processor"></div>
                </div>
                <div class="<%= content_right_col %>">
                  <h1 class="title">FJEOIAFJFOIWJAF</h1>
                  <p class="subtitle">
                    gioresfaoifjewao
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="<%= download_col %> download">
            <div class="container">
              <div class="row">
                <div class="<%= content_left_col %> left">
                  <div class="square radio-app"></div>
                </div>
                <div class="<%= content_right_col %>">
                  <h1 class="title">JFAOWIEJEOIFAWJ</h1>
                  <p class="subtitle">
                    jvoiaefjwofieafjwfjoewa
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="<%= download_col %> download">
            <div class="container">
              <div class="row">
                <div class="<%= content_left_col %> left">
                  <div class="square zipfile-opener"></div>
                </div>
                <div class="<%= content_right_col %>">
                  <h1 class="title">EJFOAIJFIFAWEJO</h1>
                  <p class="subtitle">
                    vjaoijaewofiajwoifejaweofiji
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% if @download %>
  <%= render 'application/download' %>
<% end %>
