<section class="TitleBar">
  <h1>AWOOLO FREE DOWNLOADS</h1>
</section>
<section class="free-downloads">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="section-header">Free Downloads.</h1>
        <div class="row">
          <% download_col = 'col-sm-6 col-md-6 col-lg-4' %>
          <% content_left_col = 'col-3' %>
          <% content_right_col = 'col-9' %>
          <% @products.each do |product| %>
          <div class="<%= download_col %> Download" onclick="location.href='<%= product_path(product.slug) %>';">
            <div class="container">
              <div class="row">
                <div class="<%= content_left_col %> left">
                  <%= image_tag "#{product.slug}/logo" %>
                </div>
                <div class="<%= content_right_col %> right">
                  <h1 class="Download__title"><%= product.title.upcase %></h1>
                  <p class="Download__subtitle">
                    <%= t("#{product.slug}.product.main_header") %>
                  </p>
                  <p class="Download__os">
                    <%= render 'shared/display_os', product: product %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<% if @download %>
  <%= render 'application/download' %>
<% end %>
