<section class="title-bar">
  <h1>AWOOLO FREE DOWNLOADS</h1>
</section>
<section class="free-downloads">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="section-header">Free Downloads.</h1>
        <div class="row">
          <% download_col = 'col-sm-6 col-md-6 col-lg-4' %>
          <% content_left_col = 'col-3' %>
          <% content_right_col = 'col-9' %>
          <% @products.each do |product| %>
          <div class="<%= download_col %> download">
            <div class="container">
              <div class="row">
                <div class="<%= content_left_col %> left">
                  <div class="square <%= product.slug %>"></div>
                </div>
                <div class="<%= content_right_col %>">
                  <h1 class="title"><%= product.title.upcase %></h1>
                  <p class="subtitle">
                    <%= t("#{product}.description") %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<% if @download %>
  <%= render 'application/download' %>
<% end %>
