<%= render 'shared/header' do %>
  <a class="nav-item nav-link active" href="<%= root_path %>">HOME <span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link" href="<%= about_path %>">ABOUT</a>
<% end %>

<section id="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        Reviews > Whey Protein
      </div>
    </div>
  </div>
</section>

<%= render 'application/main_content' %>

<%= render 'application/footer' %>
