<section class="TitleBar">
  <span class="TitleBar__square"></span>
  <h1><%= @product.title.upcase %></h1>
</section>
<%= render 'product/hero' %>
<section class="follow-up">
  <h2><%= t("#{@product.slug}.product.follow_up") %></h2>
  <%= render 'product/cta' %>
</section>
<%= render 'product/features' %>
<%= render 'product/download_now' %>
<%= render 'product/what_else' %>
