<section class="title-bar">
  <span class="square"></span>
  <h1>PDF CONVERTER</h1>
</section>
<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="content">
          <h1>Export all the PDFs you want.</h1>
          <h3>Convert an unlimited number of PDFs to Work or Excel.</h3>
          <%= link_to 'DOWNLOAD NOW' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta">
  <h2>Export PDFs to Word or Excel, online or on a mobile device.</h2>
  <%= link_to 'DOWNLOAD NOW', '' %>
</section>
<section id="features">
  <div class="container">
    <div class="row feature-row">
      <div class="col-sm-6">
        <div class="feature">
          <h1>Stop retyping. start making progress</h1>
          <p>uewijafoajfioajwaiojfoaweifjawoifjoiawfjoaifjeoawfijiawejfoiawjoej</p>
        </div>
      </div>
      <div class="col-sm-6">
        <%= image_tag '' %>
      </div>
    </div>
    <div class="row feature-row">
      <div class="col-sm-6">
        <%= image_tag '' %>
      </div>
      <div class="col-sm-6">
        <div class="feature">
          <h1>Stop retyping. start making progress</h1>
          <p>uewijafoajfioajwaiojfoaweifjawoifjoiawfjoaifjeoawfijiawejfoiawjoej</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="whatElse">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Start your free download now.</h1>
        <h2>Export to other formats - from a browser or mobile device free.</h2>
        <p class="instruction">
          FREE DOWNLOAD BELOW
        </p>
        <div class="download">
          <div class="square"></div>
          <h2>PDF Converter</h2>
          <p>Reliably do some stuff. YEAH</p>
          <%= link_to 'DOWNLOAD NOW' %>
        </div>
        <small>
          gjoewiajfeoijfeawoifjewaoifjaoijoiaewjioewajfoiewjfoiawefjo;awfiawjefo;iawjefiofawjfoiweaj
        </small>
        <small>
          gjoewiajfeoijfeawoifjewaoifjaoijoiaewjioewajfoiewjfoiawefjo;awfiawjefo;iawjefiofawjfoiweaj
        </small>
      </div>
    </div>
  </div>
</section>
