<section class="title-bar">
  <span class="square"></span>
  <h1><%= @product.title.upcase %></h1>
</section>
<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="content">
          <h1><%= t("#{@product.slug}.product.main_header") %></h1>
          <h3><%= t("#{@product.slug}.product.sub_header") %></h3>
          <%= link_to 'DOWNLOAD NOW' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta">
  <h2><%= t("#{@product.slug}.product.cta") %></h2>
  <%= link_to 'DOWNLOAD NOW', '' %>
</section>
<section id="features">
  <div class="container">
    <div class="row feature-row">
      <div class="col-md-6 left">
        <div class="feature">
          <h1><%= t("#{@product.slug}.product.feature_one_header") %></h1>
          <p><%= t("#{@product.slug}.product.feature_one_sub_header") %></p>
        </div>
      </div>
      <div class="col-md-6 right">
        <div class="image-container">
          <%= image_tag 'https://source.unsplash.com/random/542x385' %>
        </div>
      </div>
    </div>
    <div class="row feature-row second-row">
      <div class="col-md-6 left">
        <div class="image-container">
          <%= image_tag 'https://source.unsplash.com/random/542x385' %>
        </div>
      </div>
      <div class="col-md-6 right">
        <div class="feature">
          <h1><%= t("#{@product.slug}.product.feature_two_header") %></h1>
          <p><%= t("#{@product.slug}.product.feature_two_sub_header") %></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="whatElse">
  <h1><%= t("#{@product.slug}.product.what_else_header") %></h1>
  <h2 class="sub-header"><%= t("#{@product.slug}.product.what_else_sub_header") %></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 what-else-point">
        <%= image_tag 'https://source.unsplash.com/random/304x260' %>
        <h2><%= t("#{@product.slug}.product.what_else_point_one_header") %></h2>
        <p><%= t("#{@product.slug}.product.what_else_point_one_sub_header") %></p>
      </div>
      <div class="col-md-6 col-lg-3 what-else-point">
        <%= image_tag 'https://source.unsplash.com/random/304x260' %>
        <h2><%= t("#{@product.slug}.product.what_else_point_two_header") %></h2>
        <p><%= t("#{@product.slug}.product.what_else_point_two_sub_header") %></p>
      </div>
      <div class="col-md-6 col-lg-3 what-else-point">
        <%= image_tag 'https://source.unsplash.com/random/304x260' %>
        <h2><%= t("#{@product.slug}.product.what_else_point_three_header") %></h2>
        <p><%= t("#{@product.slug}.product.what_else_point_three_sub_header") %></p>
      </div>
      <div class="col-md-6 col-lg-3 what-else-point">
        <%= image_tag 'https://source.unsplash.com/random/304x260' %>
        <h2><%= t("#{@product.slug}.product.what_else_point_four_header") %></h2>
        <p><%= t("#{@product.slug}.product.what_else_point_four_sub_header") %></p>
      </div>
    </div>
  </div>
</section>
<section id="downloadNow">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= t("#{@product.slug}.product.download_now_header") %></h1>
        <h2 class="sub-header"><%= t("#{@product.slug}.product.download_now_sub_header") %></h2>
        <p class="instruction">
          FREE DOWNLOAD BELOW
        </p>
        <div class="download">
          <%= image_tag 'https://source.unsplash.com/random/78x78' %>
          <h2><%= @product.title %></h2>
          <p><%= t("#{@product.slug}.product.download_now_sub_sub_header") %></p>
          <%= link_to 'DOWNLOAD NOW' %>
        </div>
        <small class="first">
          * Download the <%= link_to 'Acrobat Reader mobile app', '', target: '_blank' %> to access Export PDF on Android, iOS, and Windows Phone devices.
        </small>
        <small class="second">
          Adobe online services are available only to users 13 and older and require agreement to additional terms and the <%= link_to 'Adobe Privacy Policy', '', target: '_blank' %>. Online services are not available in all countries or languages, may require user registration, and may be discontinued or modified in whole or in part without notice. Additional fees or subscription charges may apply.
        </small>
      </div>
    </div>
  </div>
</section>
