<div class="description">
  <%= @product.description %>
</div>
<p class="where">
  Where can I buy it?
</p>
<div id="logoAndLinks" class="container">
  <div class="row">
    <div class="col-sm-5 col-md-6 col-lg-5 col-xl-4 left">
      <%= link_to 'https://www.sportsfuel.co.nz/', target: '_blank' do %>
        <%= image_tag 'sportsfuel_logo.png' %>
      <% end %>
    </div>
    <div class="col-sm-7 col-md-6 col-lg-7 col-xl-8 right">
      <ul>
        <% @links.each do |link| %>
          <li>
            <%= link_to link.url_source, target: '_blank', onclick: "trackOutboundLink('#{link.url_source}');" do %>
              <span class="title"><%= link.title %></span>
              <span class="price"><%= link.price %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
