<section id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <%= image_tag 'tick.png', id: 'tick' %>
        <h1>User Reviews <span>(<%= @reviews.count %>)</span></h1>
        <% @reviews.each do |review| %>
          <div class="review outer">
            <h2><%= review.summary %></h2>
            <div class="rating">
              Overall
              <span>
                <% i = 0 %>
                <% while i < review.rating.to_f.round do %>
                  <i class="fas fa-star"></i>
                  <% i += 1 %>
                <% end %>
              </span>
            </div>
            <div class="flavour">
              Flavour
              <span>
                <% i = 0 %>
                <% while i < review.flavour.to_f.round do %>
                  <i class="fas fa-star"></i>
                  <% i += 1 %>
                <% end %>
              </span>
            </div>
            <p class="review">
              <%= review.review %>
            </p>
            <p class="user">
              Reviewed by <%= review.user %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
