<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<%= render 'shared/header' do %>
  <a class="nav-item nav-link" href="<%= root_path %>">HOME <span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link" href="<%= about_path %>">ABOUT</a>
<% end %>
<section id="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        Reviews > <%= @product.title %>
      </div>
    </div>
  </div>
</section>
<%= render 'products/product_content' %>
<%= render 'products/reviews' %>
<section id="sideTableMobile">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="side-table">
          <%= render 'shared/side_table' %>
        </div>
        <div class="main-table-mobile">
          <%= render 'application/main_content/left' %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'application/footer' %>
