<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<%= render 'shared/header' do %>
  <a class="nav-item nav-link" href="<%= root_path %>">HOME <span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link" href="<%= about_path %>">ABOUT</a>
<% end %>
<section id="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        Reviews > <%= @product.title %>
      </div>
    </div>
  </div>
</section>
<section id="productContent">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="container main-content">
          <div class="row">
            <div class="col-lg-5 left">
              <div class="image-box">
                <div class="image-restrictor">
                  <%= image_tag @product.image %>
                </div>
              </div>
              <div class="review-summary left">
                <div class="reviews-summary-desktop">
                  <%= image_tag 'star.png' %>
                  <span class="number"><%= @product.rating.to_f.round %><span class="grey">/5</span></span>
                  <p id="reviewCount"><%= @reviews.count %> <%= @reviews.count == 1 ? 'Review' : 'Reviews' %></p>
                </div>
                <div class="description-mobile">
                  <div class="description">
                    <%= @product.description %>
                  </div>
                  <p class="where">
                    Where can I buy it?
                  </p>
                  <div id="logoAndLinks" class="container">
                    <div class="row">
                      <div class="col-md-6 col-lg-5 col-xl-4 left">
                        <%= image_tag 'sportsfuel_logo.png' %>
                      </div>
                      <div class="col-md-6 col-lg-7 col-xl-8 right">
                        <ul>
                          <% @links.each do |link| %>
                            <li>
                              <%= link_to link.url, target: '_blank' do %>
                                <span class="title"><%= link.title %></span>
                                <span class="price"><%= link.price %></span>
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 right">
              <h1 class="main-header product"><%= @product.title %></h1>
              <div class="review-summary">
                <%= image_tag 'star.png' %>
                <span class="number"><%= @product.rating.to_f.round %><span class="grey">/5</span></span>
                <span class="num-reviews"><%= @reviews.count %> <%= @reviews.count == 1 ? 'Review' : 'Reviews' %></span>
              </div>
              <div class="description-desktop">
                <div class="description">
                  <%= @product.description %>
                </div>
                <p class="where">
                  Where can I buy it?
                </p>
                <div id="logoAndLinks" class="container">
                  <div class="row">
                    <div class="col-sm-4 col-lg-5 col-xl-4 left">
                      <%= image_tag 'sportsfuel_logo.png' %>
                    </div>
                    <div class="col-sm-8 col-lg-7 col-xl-8 right">
                      <ul>
                        <% @links.each do |link| %>
                          <li>
                            <%= link_to link.url, target: '_blank' do %>
                              <span class="title"><%= link.title %></span>
                              <span class="price"><%= link.price %></span>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 right">
        <div id="sideTableDesktop">
          <%= render 'shared/side_table' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <%= image_tag 'tick.png', id: 'tick' %>
        <h1>User Reviews <span>(<%= @reviews.count %>)</span></h1>
        <% @reviews.each do |review| %>
          <div class="review outer">
            <h2><%= review.summary %></h2>
            <div class="rating">
              Overall
              <span>
                <% i = 0 %>
                <% while i < review.rating.to_f.round do %>
                  <i class="fas fa-star"></i>
                  <% i += 1 %>
                <% end %>
              </span>
            </div>
            <div class="flavour">
              Flavour
              <span>
                <% i = 0 %>
                <% while i < review.flavour.to_f.round do %>
                  <i class="fas fa-star"></i>
                  <% i += 1 %>
                <% end %>
              </span>
            </div>
            <p class="review">
              <%= review.review %>
            </p>
            <p class="user">
              Reviewed by <%= review.user %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section id="sideTableMobile">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="side-table">
          <%= render 'shared/side_table' %>
        </div>
        <div class="main-table-mobile">
          <%= render 'application/main_content/left' %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'application/footer' %>
