<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <%= image_tag 'searchbe-logo.png', class: 'footer_logo', alt: '' %>
        <p class="copyright">&copy; Groovy Media <%= Time.now.year %></p>
      </div>
      <div class="col-md-6 col-xs-12 text-md-right">
        <ul class="footer-nav">
          <li class="align-middle"><%= link_to 'TERMS', 'http://privacy.searchbe.com/terms', target: '_blank' %></li>
          <li class="align-middle"><%= link_to 'PRIVACY', 'http://privacy.searchbe.com/privacy', target: '_blank' %></li>
          <li class="align-middle"><%= link_to 'CONTACT', 'http://privacy.searchbe.com/contact-us', target: '_blank' %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
