<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title.present? ? @page_title : 'Awoolo' %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= image_path 'favicon.png' %>" rel="icon" type="image/png" />
    <%= stylesheet_link_tag action_name %>
  </head>
  <body>
    <%= render 'application/header' %>
    <%= yield %>
    <%= render 'application/footer' %>
    <%= render 'layouts/head_scripts' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
