<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title.present? ? @page_title : 'Awoolo' %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= image_path 'favicon.png' %>" rel="icon" type="image/png" />
    <%= stylesheet_link_tag action_name, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/head_scripts' %>
    <% if action_name == 'lp' %>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <% end %>
  </head>
  <body data-turbolinks="false">
    <%= render 'application/header' %>
    <%= yield %>
    <%= render 'application/footer' %>
  </body>
</html>
