<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title.present? ? @page_title : 'autospecsdirect' %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= image_path 'favicon.png' %>" rel="icon" type="image/png" />
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/head_scripts' %>
  </head>
  <body>
    <%= render 'layouts/top_nav', cached: true %>
    <%= yield %>  
    <%= render 'layouts/footer', cached: true %>
  </body>
</html>
