<!DOCTYPE html>
<html>
  <head>
    <title>We Recommend | NZ Supplement Reviews</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= image_path 'favicon.png' %>" rel="icon" type="image/png" />
    <%= stylesheet_link_tag @page, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16407288-54"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-788320855"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-16407288-54');
      gtag('config', 'AW-788320855');
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
